<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Productos a la venta!"/>
    <meta name="keywords" content="mangas , anime, La Plata, comprar, venta, estrenos, precio, shounen, formato, local, Argentina, Buenos Aires, BS AS, consultas, contacto, informacion, ">    
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/7c941fd313.js" crossorigin="anonymous"></script>
    <title>Productos</title>
  </head>
  <body>
    <!--Header-->
    <header class="menuNav">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid container__padding ">
          <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="Logo del local" class="img--size"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar__separacion bg-dark" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./sobrenosotros.html">Nuestro Local</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav__item--color text-white" href="./proximos.html">Proximos Mangas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
    <!--seccion de productos-->
    <main class="main main__productos">
      <div class="container__productos">
        <h3 class="productos__titulos">Shounen</h3>
        <div class="productos__cards">
          <div class="row">
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/KimetsuNoYaiba.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno Demon Slayer"/>
                <div class="card-body">
                  <h5 class="card-title">Demon Slayer</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 600$</p>
                </div>
              </div>
            </div>
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/Boruto.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno Boruto"/>
                <div class="card-body">
                  <h5 class="card-title">Boruto</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 625$</p>
                </div>
              </div>
            </div>
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/ChainsawMan.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno Chainsaw Man"/>
                <div class="card-body">
                  <h5 class="card-title">Chainsaw Man</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 600$</p>
                </div>
              </div>
            </div>
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/SpyxFamily.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno Spy x Family"
                />
                <div class="card-body">
                  <h5 class="card-title">Spy x Family</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 600$</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="productos__cards">
          <div class="row">
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/FireForce.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno Fire Force"
                />
                <div class="card-body">
                  <h5 class="card-title">Fire Force</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 625$</p>
                </div>
              </div>
            </div>
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/MyHeroAcademy.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno My Hero Academy"
                />
                <div class="card-body">
                  <h5 class="card-title">My Hero Academy</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 600$</p>
                </div>
              </div>
            </div>
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/ShuumatsuNoValkyrie.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno ShuumatsuNoValkyrie"
                />
                <div class="card-body">
                  <h5 class="card-title">Shuumatsu No Valkyrie</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 650$</p>
                </div>
              </div>
            </div>
            <div class="productos__col col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  src="../assets/img/TokyoRevengers.jpg"
                  class="card-img-top productos__img"
                  alt="Portada numero uno Tokyo Revengers"
                />
                <div class="card-body">
                  <h5 class="card-title">Tokyo Revengers</h5>
                  <p class="card-text">Formato: Kanzenban</p>
                  <p class="card-text">Precio: 600$</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container__productos">
          <h3 class="productos__titulos">Manwha</h3>
          <div class="productos__cards">
            <div class="row">
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/AssassinationClassroom.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Assassination Classroom"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Assassination Classroom</h5>
                    <p class="card-text">Formato: Kanzenban</p>
                    <p class="card-text">Precio: 625$</p>
                  </div>
                </div>
              </div>
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/BlueLock.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Blue Lock"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Blue Lock</h5>
                    <p class="card-text">Formato: Kanzenban</p>
                    <p class="card-text">Precio: 600$</p>
                  </div>
                </div>
              </div>
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/Dorohedoro.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Dorohedoro"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Dorohedoro </h5>
                    <p class="card-text">Formato: Aizoban</p>
                    <p class="card-text">Precio: 1750$</p>
                  </div>
                </div>
              </div>
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/Jigokuraku.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Jigokuraku"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Jigokuraku</h5>
                    <p class="card-text">Formato: Kanzenban</p>
                    <p class="card-text">Precio: 600$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="productos__cards">
            <div class="row">
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/SabikuiBisco.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Sabikui Bisco"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Sabikui Bisco</h5>
                    <p class="card-text">Formato: Kanzenban</p>
                    <p class="card-text">Precio: 600$</p>
                  </div>
                </div>
              </div>
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/MadeInAbyss.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Made In Abyss"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Made in Abyss</h5>
                    <p class="card-text">Formato: Waidoban</p>
                    <p class="card-text">Precio: 1000$</p>
                  </div>
                </div>
              </div>
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/YuGiOh.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Yu-Gi-Oh"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Yu-Gi-Oh</h5>
                    <p class="card-text">Formato: Kanzenban</p>
                    <p class="card-text">Precio: 625$</p>
                  </div>
                </div>
              </div>
              <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img
                    src="../assets/img/Solanin.jpg"
                    class="card-img-top productos__img"
                    alt="Portada numero uno Solanin"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Solanin</h5>
                    <p class="card-text">Formato: Kanzenban Doble</p>
                    <p class="card-text">Precio: 1500$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="container__productos">
            <h3 class="productos__titulos">Seinen</h3>
            <div class="productos__cards">
              <div class="row">
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/Beastars.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Beastars"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Beastars</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 600$</p>
                    </div>
                  </div>
                </div>
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/BlackClover.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Black Clover"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Black Clover</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 600$</p>
                    </div>
                  </div>
                </div>
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/BluePeriod.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Blue Period"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Blue Period</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 625$</p>
                    </div>
                  </div>
                </div>
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/JujutsuKaisen.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Jujutsu Kaisen"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Jujutsu Kaisen</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 625$</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="productos__cards">
              <div class="row">
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/RoosterFigther.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Rooster Fighter"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Rooster Fighter</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 750$</p>
                    </div>
                  </div>
                </div>
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/TokyoGhoul.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Tokyo Ghoul"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Tokyo Ghoul</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 600$</p>
                    </div>
                  </div>
                </div>
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/Berserk.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Berserk"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Berserk</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 675$</p>
                    </div>
                  </div>
                </div>
                <div class="productos__col col-sm-12 col-md-6 col-lg-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="../assets/img/VinlandSaga.jpg"
                      class="card-img-top productos__img"
                      alt="Portada numero uno Vinland Saga"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Vinland Saga</h5>
                      <p class="card-text">Formato: Kanzenban</p>
                      <p class="card-text">Precio: 600$</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </main>
     <!-- Footer -->
     <footer class="footer">
      <section class="footer__container">
        <div class="row">
          <div class="col-12 col-xl-3">
            <i class="fas fa-map-marker-alt"></i>
            <h4 class="footer__info">La Plata</h4>
          </div>
          <div class="col-12 col-xl-3">
            <i class="fas fa-envelope"></i>
            <h4 class="footer__info">qualstore@gmail.com</h4>
          </div>
          <div class="col-12 col-xl-3">
            <i class="fas fa-clock"></i>
            <h4 class="footer__info">Proximamente horarios!</h4>
          </div>
          <div class="col-12 col-xl-3">
            <a href="" class="footer__redes"
            ><img src="../assets/img/logo-fb.jpg" alt="logo de facebook" width="60px" height="30px"
          /></a>
          <a href="" class="footer__redes"
            ><img src="../assets/img/logo-ig.jpg" alt="logo de instagram" width="60px" height="30px"
          /></a>
          <a href="" class="footer__redes"><img src="../assets/img/logo-wsp.jpg" width="60px" height="30px" alt="logo whatsapp" /></a>
          </div>
        </div>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
