<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Como es nuestro proyecto y cuales fueron nuestras pasiones sobre los mangas"/>
    <meta name="keywords" content="mangas , anime, La Plata, comprar, venta, estrenos, precio, shounen, formato, local, Argentina, Buenos Aires, BS AS, consultas, contacto, informacion, ">    
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/7c941fd313.js" crossorigin="anonymous"></script>
    <title>Proximos Mangas</title>
  </head>
  <body>
    <!-- Header -->
    <header class="menuNav">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid container__padding ">
          <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="Logo del local" class="img--size"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar__separacion bg-dark" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./sobrenosotros.html">Nuestro Local</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav__item--color text-white" href="./proximos.html">Proximos Mangas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
    <!-- Main -->
    <main class="main main__next">
      <div class="container__next">
        <div class="card card--custom">
          <div class="row">
            <div class="col-5">
              <img src="../assets/img/mieruko-chan.jpg" class="img-fluid rounded-start card__img" alt="Portada uno Mieruko-chan">
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">Mieruko-chan</h5>
                <p class="card-text">Mieruko-chan es una serie anime de terror que sigue la historia de Miko, una típica estudiante de instituto cuya vida da un giro cuando de repente empieza a ver en su día a día monstruos horribles y bastantes espantosos.</p>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="container__next">
        <div class="card card--custom2">
          <div class="row">
            <div class="col-5">
              <img src="../assets/img/mobpsycho.jpg" class="img-fluid rounded-start card__img" alt="Portada uno Mob Psycho">
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">Mob Psycho</h5>
                <p class="card-text">Mob Psycho 100 es una serie anime que sigue la historia de Shigeo Kageyama, un chico estudiante apodado Mob por carecer de sentido de presencia. Aunque parece una persona un tanto discreta, de hecho, es un poderoso Esper con un inmenso poder psíquico.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="container__next">
        <div class="card card--custom">
          <div class="row">
            <div class="col-5">
              <img src="../assets/img/ReZero.jpg" class="img-fluid rounded-start card__img" alt="Portada uno Re:Zero">
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">Re:Zero</h5>
                <p class="card-text">Subaru Natsuki es un hikikomori que saliendo de una tienda de conveniencia es transportado misteriosamente a un reino de otro mundo, donde lo primero que le ocurre es encontrarse con unos bandidos; sin embargo, lo rescata una hermosa chica semi-elfa de cabello plateado llamada "Satella".</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
      <section class="footer__container">
        <div class="row">
          <div class="col-12 col-xl-3">
            <i class="fas fa-map-marker-alt"></i>
            <h4 class="footer__info">La Plata</h4>
          </div>
          <div class="col-12 col-xl-3">
            <i class="fas fa-envelope"></i>
            <h4 class="footer__info">qualstore@gmail.com</h4>
          </div>
          <div class="col-12 col-xl-3">
            <i class="fas fa-clock"></i>
            <h4 class="footer__info">Proximamente horarios!</h4>
          </div>
          <div class="col-12 col-xl-3">
            <a href="" class="footer__redes"
            ><img src="../assets/img/logo-fb.jpg" alt="logo de facebook" width="60px" height="30px"
          /></a>
          <a href="" class="footer__redes"
            ><img src="../assets/img/logo-ig.jpg" alt="logo de instagram" width="60px" height="30px"
          /></a>
          <a href="" class="footer__redes"><img src="../assets/img/logo-wsp.jpg" width="60px" height="30px" alt="logo whatsapp" /></a>
          </div>
        </div>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
