<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Como es nuestro proyecto y cuales fueron nuestras pasiones sobre los mangas"/>
    <meta name="keywords" content="mangas , anime, La Plata, comprar, venta, estrenos, precio, shounen, formato, local, Argentina, Buenos Aires, BS AS, consultas, contacto, informacion, ">    
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/7c941fd313.js" crossorigin="anonymous"></script>
    <title>Sobre nuestro local</title>
  </head>
  <body>
    <!--Header, logo de la marca a centrado en el medio-->
    <header class="menuNav">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid container__padding ">
          <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="Logo del local" class="img--size"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar__separacion bg-dark" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./sobrenosotros.html">Nuestro Local</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav__item--color text-white" href="./proximos.html">Proximos Mangas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
    <main class="main__aboutUs">
      <div class="container__aboutUs">
        <img
          class="img_aboutUs"
          src="../assets/img/carousel1.jpg"
          alt="Imagen de la fachada de su negocio"
        />
        <p class="text_aboutUs">
          Nuestro local es Qual Store! Como se fundo nuestro local? Gracias a nuestra pasion sobre los mangas! Desde jovenes somos 
          un grupo de 3 amigos y nos encanta lo que se refiera a la cultura japonesa, esta pagina esta fundada porque nosotros sabemos 
          lo dificil que es a veces conseguir los mangas por que no son tan conocidos aca en Argentina. Tenemos planeado abrir en unas semanas
          porque ya estamos moviendo las cosas! Espero que les encante nuestro local y proximanente tendremos figuras de accion y accesorios de anime! 
          Saludos y abrazo!
        </p>
        <img
          class="img_aboutUs"
          src="../assets/img/carousel3.jpg"
          alt="Imagen de la fachada de su negocio"
        />
        <iframe
          class="mapa"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1636.117962402355!2d-57.98529356060023!3d-34.900528464155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62b1f0085a1%3A0xbcfc44f0547312e3!2sLa%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1647883987431!5m2!1ses!2sar"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
      <section class="footer__container">
        <div class="row">
          <div class="col-12 col-xl-3">
            <i class="fas fa-map-marker-alt"></i>
            <h4 class="footer__info">La Plata</h4>
          </div>
          <div class="col-12 col-xl-3">
            <i class="fas fa-envelope"></i>
            <h4 class="footer__info">qualstore@gmail.com</h4>
          </div>
          <div class="col-12 col-xl-3">
            <i class="fas fa-clock"></i>
            <h4 class="footer__info">Proximamente horarios!</h4>
          </div>
          <div class="col-12 col-xl-3">
            <a href="" class="footer__redes"
            ><img src="../assets/img/logo-fb.jpg" alt="logo de facebook" width="60px" height="30px"
          /></a>
          <a href="" class="footer__redes"
            ><img src="../assets/img/logo-ig.jpg" alt="logo de instagram" width="60px" height="30px"
          /></a>
          <a href="" class="footer__redes"><img src="../assets/img/logo-wsp.jpg" width="60px" height="30px" alt="logo whatsapp" /></a>
          </div>
        </div>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
